{% extends "scanner/base.html" %}
{% load staticfiles %}

{% block title %}Profiles{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="">Profiles</a></li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Profiles {% if request.user.is_superuser %}<a href="{% url 'portplow:profile-create' %}"><span class="btn btn-default btn-xs">New Profile</span></a>{% endif %}</h3>
        </div>
        <div class="panel-body">
            {% if profiles.count == 0 %}
            No profiles are listed in the database.
            {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-2"># Associated Scans</th>
                    <th class="col-md-2">Tool</th>
                    <th class="col-md-4">Command</th>
{#                    <th>Description</th>#}
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                <tr>
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.scans.count }}</td>
                    <td>{{ profile.tool }}</td>
                    <td>{{ profile.command }}</td>
{#                    <td>{{ profile.description }}</td>#}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}